
@page "/Auth"
@model SampleApp.RazorPage.Pages.AuthModel
@{
    ViewData["Title"] = "Авторизация";
}


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post" class="form-signin" role="form">
            <span asp-validation-for="User.Email"></span>
            <input type="email" asp-for="User.Email" class="form-control" placeholder="Email" required autofocus>
            <span asp-validation-for="User.Password"></span>
            <input type="password" asp-for="User.Password" class="form-control" placeholder="Password" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Вход
            </button>
        </form>
        <p>Новый пользователь? <a asp-page="Sign">Регистрация!</a></p>
    </div>
</div>

